In [36]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [37]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [38]:
X = data[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']]
y = data['Exited']

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [41]:
#model = Sequential()
ann=tf.keras.models.Sequential()
# Add input layer and the first hidden layer
#model.add(Dense(units=64, activation='relu', input_dim=X_train.shape[1]))
ann.add(tf.keras.layers.Dense(units=64,activation='relu'))
ann.add(tf.keras.layers.Dense(units=64,activation='relu'))
ann.add(tf.keras.layers.Dense(units=1))

In [42]:
ann.compile(optimizer='adam', loss='mean_squared_error')

In [43]:
ann.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10
250/250 [==============================] - 2s 4ms/step - loss: 0.1326 - val_loss: 0.1152
Epoch 2/10
250/250 [==============================] - 1s 3ms/step - loss: 0.1167 - val_loss: 0.1148
Epoch 3/10
250/250 [==============================] - 1s 3ms/step - loss: 0.1135 - val_loss: 0.1203
Epoch 4/10
250/250 [==============================] - 1s 3ms/step - loss: 0.1120 - val_loss: 0.1107
Epoch 5/10
250/250 [==============================] - 1s 3ms/step - loss: 0.1099 - val_loss: 0.1107
Epoch 6/10
250/250 [==============================] - 1s 3ms/step - loss: 0.1090 - val_loss: 0.1106
Epoch 7/10
250/250 [==============================] - 1s 3ms/step - loss: 0.1082 - val_loss: 0.1093
Epoch 8/10
250/250 [==============================] - 1s 3ms/step - loss: 0.1074 - val_loss: 0.1091
Epoch 9/10
250/250 [==============================] - 1s 3ms/step - loss: 0.1067 - val_loss: 0.1163
Epoch 10/10
250/250 [==============================] - 1s 3ms/step - loss: 0.1064 - val_loss: 0.1096

In [44]:
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Test Loss: {loss:.4f}, Test Accuracy: {accuracy:.4f}')

63/63 [==============================] - 0s 2ms/step - loss: 0.4050 - accuracy: 0.0105
Test Loss: 0.4050, Test Accuracy: 0.0105